* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    background: #fff;
    color: #656565;
    padding: 0;
    margin: 0;
    overflow: visible;
}
.hidden {
    display: none;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}
::-moz-selection {
    color: #555252;
    text-shadow: none;
    background: #2B2E31;
}
::-webkit-input-placeholder {
    color: #555252 !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #555252 !important;
}
::-moz-placeholder  {
    /* Firefox 19+ */
    color: #555252 !important;
}
:-ms-input-placeholder {
    color: #555252 !important;
}
.contact-form .form-control::-webkit-input-placeholder{
    color: #fff !important;
}
.contact-form .form-control::-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-ms-input-placeholder{
    color: #fff !important;
}

*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: #0098d7;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a:hover,a:focus {
    text-decoration: none;
    color: #01090C;
}
a img {
    border: none;
    vertical-align: bottom;
}
a.remove {
    display: block;
    height: 18px;
    width: 18px;
    margin: 10px;
    padding-left: 0 !important;
    text-indent: -9999px;
    background: url(../images/remove.png) #01090C;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0px;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-family: 'Roboto', serif;
    line-height: 140%;
    color: #01090c;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
.lead {
    font-family: 'Open Sans', Arial,sans-serif !important;
    font-size: 18px;
    margin: 15px 0;
    padding: 0;
}
.first {
    clear: both
}
.last {
    margin-right: 0
}
audio,
video {
    max-width: 100%;
    height: auto;
}

iframe,embed,object {
    max-width: 100%;
}
input,textarea {
    color: #000 !important
}

html, body, .wrapper{
    height: 100%;
}
.titie-section{
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.titie-section h1{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 36px;
    color: #00205d;
    font-weight: 700;
}
.titie-section-1 h1{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 36px;
    color: #857650;
    font-weight: 700;
    text-transform: uppercase;
}
.titie-section-1 h2{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 24px;
    color: #00205d;
    font-weight: 700;
}
.titie-section-1 h3{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 24px;
    color: #656565;
    font-weight: 700;
}
.titie-section-1 h4{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 16px;
    color: #656565;
    font-weight: 500;
}
.titie-section-1 img {
    display: block;
    float: left
}
.titie-section-1 ul li {
    display: block;
}
.titie-section h3{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #857650;
    font-weight: 600;
}
.carousel-inner h1{
    color: #00205d; 
}
.titie-section.white h1:before{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white h1:after{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white:after{
    content: "";
    width: 165px;
    display: block;
    height: 7px;
    background:#fff;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    text-align: center;
    padding: 0 !important;
    background: transparent !important;
}
ul.navbar-nav{
    background: transparent;
    margin: 0 auto;
    margin-bottom: -5px;
    display: inline-block;
    float: none;
}
ul.navbar-nav li a{
    font-size: 14px;
    font-weight: 700;
    color: #00205d !important;
    background: transparent !important;
    text-transform: uppercase;
}
ul.navbar-nav li.active a, ul.navbar-nav li a:hover{
    color: #857650 !important;
}
ul.navbar-nav.cart-menu li a{
    padding-right: 0;
    color: #00205d;
    font-weight: 700;
}
ul.navbar-nav.cart-menu li a .fa-search{
    margin-top: 6px;
    display: block;
}

.suscribe-btn, .suscribe-btn:hover, .suscribe-btn:active, .suscribe-btn:focus{
    outline: none
}

.slider-section{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider-section img{
    display: block;
    width: 100%;

}
.carousel-inner{
    position: relative;
}
.carousel-inner .item:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.52);
    z-index: 9
}
.carousel-inner .item active {
    background-color: none;
}
.carousel-inner .item .carousel-caption{
    top: 30%;
    z-index: 999;
}
.carousel-inner .item .carousel-caption h2{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    text-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
}
.carousel-inner .item .carousel-caption h3{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
}
.carousel-inner .item .carousel-caption h3 span{
    color:  #00205d;
}
.carousel-inner .item .carousel-caption a{
    display: inline-block;
    padding: 13px 30px;
    border: 2px solid #00205d;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 10px;
}
.carousel-inner .item .carousel-caption a:hover{
    background: #00205d;
}
.carousel-control{
    background-image: none !important;
    box-shadow: none !important;
    background: red;
}
.carousel-control span{
    font-size: 90px !important;
    color: #fff;
    }
a.carousel-control.left, a.carousel-control.right{
    background: #00205d !important;
    background-image: none !important;
    box-shadow: none !important;
    width: 100px;
    height: 100px;
    background: #00205d;
    text-align: center;
    position: absolute;
    top: 45%;
    border: none;
    display: block;
    text-align: center;
    z-index: 999
}
a.carousel-control.left > span{
    position: absolute;
    top: 7px;
    margin: 0 auto;
    left: 5px;
}
a.carousel-control.right > span{
    position: absolute;
    top: 7px;
    margin: 0 auto;
    left: -5px;
}
.carousel-control.right{
    width: 0;
    height: 0;
    background: #00205d;
}
.carousel-control.left{
    width: 0;
    height: 0;
    background: #00205d;
}
.carousel-control span{
    font-size: 100px;
    color: #fff;
}
.slider-indicators{
    display: none;
}
.service-section{
    display: block;
    text-align: center;
    padding: 0 0 80px;
}
.service-item i{
    font-size: 70px;
    text-align: center;
}
.service-item h3{
    font-size: 18px;
    font-weight: 700;
    color: #555252;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
}
.service-item p{
    font-size: 14px;
    font-weight: 300;
    color: #857650;
    line-height: 24px;
}
.service-item:hover h3, .service-item:hover i{
    color: #00205d;
}
.logo-section-1 {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
.new-section{
    background: #fff;
    display: block;
    padding: 50px 0 80px;
}

.sell-meta{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: block;
    width: auto;
}
.sell-meta a{
    width: 70px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding:5px 10px;
    color: #555252;
    border: 1px solid #000;
}
.sell-meta a.new-item{
    float: left;
}
.sell-meta a.sell-item{
    float: right;
}
.featured-section{
    display: block;
    padding: 100px 0 80px;
}
.featured .product-item{
    background: #e9f0fd
}
.offer-section{
    display: block;
    padding: 170px 0 130px;
    position: relative;
    width: 100%;
    background: url(../images/_DSC3053.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}
.offer-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}
.offer-section h1{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #00205d;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.offer-section h2{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.review-section{
    padding: 10px 0 20px;
    display: block;
    width: 100%;
}
.review-section .feedback{
    display: block;
    margin-top: 10px;
    text-align: center;
}
.feedback .item:before{
    display: none;
}
.feedback .item{
    text-align: center;
}
.feedback .item img{
    display: inline-block;
    margin: 0 auto;
}
.feedback .item .carousel-caption{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 75%;
    text-shadow: none;
    margin-top: 10px;
}
.feedback .item .carousel-caption p{
    font-size: 14px;
    font-weight: 400;
    color: #857650;
    text-align: center;
    line-height: 24px;
}
.feedback .item .carousel-caption h3{
    font-size: 18px;
    font-weight: 700;
    color: #00205d;
    text-align: center;
}
.feedback .item .carousel-caption span{
    font-size: 14px;
    font-weight: 400;
    color: #857650;
    text-align: center;
    line-height: 24px;
}
.review-controlar{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    left: 0;
    right: 0;
    width: auto;
    padding-top: 10px;
}
.review-controlar li{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #857650;
    margin: 10px;
}
.review-controlar li.active{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #00205d;
    margin: 10px;
}
.review-controlar li img{
    margin: 0 auto;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.news-letter-section{
    display: block;
    background: url(../images/bg.png) #1abc9c no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 100px 0 80px;
}
.news-letter-section p{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 25px;
    display: block;
    overflow: hidden;
}
.subscribe-from{
    display: block;
    margin-top: 50px;
}

.news-section{
    display: block;
    padding: 50px 0 40px;
}
.news-section .titie-section{
    display: block;
    margin-bottom: 50px;
}
.blog-item img{
    width: 100%;
    height: auto;
}
.blog-item h3{
    font-size: 18px;
    font-weight: 600;
    color: #00205d;
    display: block;
    line-height: 24px;
    position: relative;
    margin: 15px 0 ;
    padding: 0;
}
.blog-item h3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    display: block;
    background: #00205d;
    bottom: -8px;
}
.blog-item p{
    font-size: 14px;
    font-weight: 40px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}
.blog-item a:last-child{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    background: #00205d;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 3px;
    transition: all 0.5s;
}
.blog-item a:last-child:hover{
    background: #00205d;
}
@media (max-width: 767px){
    ul.navbar-nav {
        width: 100%;
        display: block;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        overflow: hidden;
    }
    ul.navbar-nav.cart-menu li a{
        padding: 15px 0;
    }
    .header-top-menu ul, .header-top-content ul{
        display: inline-block;
    }
    .header-top-menu, .header-top-content {
        text-align: center;
    }
    .titie-section h1{
        font-size: 26px;
    }
    .contact-form {
        margin-top: 30px;
        display: block;
    }
    .offer-section{
        padding: 60px 0 50px;
    }

    .offer-section h1{
        font-size: 30px;
    }
    .offer-section h2{
        font-size: 20px;
    }
    .blog-item {
        margin-bottom: 30px;
    }

}
@media (max-width: 620px){
    .header-top-content ul li a{
        font-size: 12px;
    }
    .header-top-menu ul li a{
        font-size: 12px;
    }
     a.carousel-control.left, a.carousel-control.right{
        width: 70px;
        height: 70px;
        display: none;
    }
    a.carousel-control.right > span {
        top: -9px;
        left: -7px;
    }
    a.carousel-control.left > span {
        top: -6px;
        left: -11px;
    }
    .carousel-inner .item .carousel-caption h2, .carousel-inner .item .carousel-caption h3{
        font-size: 14px;
    }
    .carousel-inner .item .carousel-caption a{
        padding: 2px 10px;
        font-size: 12px
    }
    .product-hover a:last-child {
        margin: 5px 25%;
        padding: 10px;
        font-size: 12px;
    }
    .filter-menu ul li{
        display: block;
    }
    .carousel-inner .item .carousel-caption {
        top: 7%;
        z-index: 999;
    }
}