// Bootstrap link
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

// Pages

@import '../sass/reset.scss';
@import '../sass/var.scss';
@import '../sass/base.scss';
@import '../sass/nav.scss';
@import '../sass/buy.scss';
@import '../sass/main.scss';
@import '../sass/main.scss';
@import '../sass/slider.scss';
@import '../sass/category.scss';

@import url(font-awesome.css) screen;
@import url(bootstrap.css) screen;
@import url(owl.carousel.css) screen;
@import url(pe-icon-7-stroke.css) screen;
@import url(animate.min.css) screen;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900,700,600,500,300,200,100);

.titie-section{
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.titie-section h1{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 36px;
    color: #00205d;
    font-weight: 700;
}
.titie-section-1 h1{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 36px;
    color: #857650;
    font-weight: 700;
    text-transform: uppercase;
}
.titie-section-1 h2{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 24px;
    color: #00205d;
    font-weight: 700;
}
.titie-section-1 h3{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 24px;
    color: #656565;
    font-weight: 700;
}
.titie-section-1 h4{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 16px;
    color: #656565;
    font-weight: 500;
}
.titie-section-1 img {
    display: block;
    float: left
}
.titie-section-1 ul li {
    display: block;
}
.titie-section h3{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #857650;
    font-weight: 600;
}

.titie-section.white h1:before{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white h1:after{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white:after{
    content: "";
    width: 165px;
    display: block;
    height: 7px;
    background:#fff;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

span.shoping-cart {
    border: 1px solid #00205d;
    padding: 2px 7px 2px 6px;
    text-align: center;
    display: inline-block;
    position: relative;
    background: #fff;
}
span.shoping-cart:after{
    height: 90%;
    width: 80%;
    display: block;
    background: transparent;
    position: absolute;
    content: "";
    border: 1px solid #00205d;
    border-radius: 50%;
    top: -47%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -9999;
}
span.shoping-cart:hover:after{
    top: -50%;
}
span.shoping-cart:before{
    height: 100%;
    width: 100%;
    display: block;
    background: #fff;
    position: absolute;
    content: "";
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -999;
}
span.shoping-cart {
    border: 1px solid #00205d;
    padding: 2px 7px 2px 6px;
    text-align: center;
    display: inline-block;
    position: relative;
    background: #fff;
    z-index: 9999999;
    color: #00205d;
}



.sell-meta{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: block;
    width: auto;
}
.sell-meta a{
    width: 70px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding:5px 10px;
    color: #555252;
    border: 1px solid #000;
}
.sell-meta a.new-item{
    float: left;
}
.sell-meta a.sell-item{
    float: right;
}
.featured-section{
    display: block;
    padding: 100px 0 80px;
}
.filter-menu{
    display: block;
    text-align: center;
    margin: 30px 0 50px;
}
.filter-menu ul{
    display: inline-block;
    margin: 0 auto;
}
.filter-menu ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-menu ul li.active{
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}
.filter-menu ul li span{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #1abc9c;
    font-weight: 700;
    display: block;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    top: -55px;
    right: -20px;
    opacity: 0;
    transition: all 0.5s;
}
.filter-menu ul li.active span{
    opacity: 1;
    top: -22px;
    right: -5px
}
.featured .product-item{
    background: #e9f0fd
}

.best-seller-section{
    display: block;
    padding: 100px 0 80px;
    position: relative;
    width: 100%;
    background: #e9f0fd
}
.gold-section {
    padding: 40px 0 20px;
    display: block;
    width: 100%;
}
.review-section{
    padding: 10px 0 20px;
    display: block;
    width: 100%;
}
.review-section .feedback{
    display: block;
    margin-top: 10px;
    text-align: center;
}
.feedback .item:before{
    display: none;
}
.feedback .item{
    text-align: center;
}
.feedback .item img{
    display: inline-block;
    margin: 0 auto;
}

.review-controlar{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    left: 0;
    right: 0;
    width: auto;
    padding-top: 10px;
}
.review-controlar li{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #857650;
    margin: 10px;
}
.review-controlar li.active{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #00205d;
    margin: 10px;
}
.review-controlar li img{
    margin: 0 auto;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.news-letter-section{
    display: block;
    background: url(../images/bg.png) #1abc9c no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 100px 0 80px;
}
.news-letter-section p{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 25px;
    display: block;
    overflow: hidden;
}
.subscribe-from{
    display: block;
    margin-top: 50px;
}
.form-inline{
    /*width: 100%;   */
    display: block;
    background: #fff;
    position: relative;
    padding: 0;
    border-radius: 10px;
}
.form-group{
    width: 100%;
    display: block;
}
.form-inline .form-group{
    margin-bottom: 0;
}
.subscribe-from .form-control{
    display: block;
    width: 100% !important;
    height: 100%;
    height: 63px;
    color: #000;
    font-size: 16px;
    padding: 20px;
}
.subscribe-from .form-control:hover, .subscribe-from .form-control:focus{
    box-shadow: none !important;
    outline: none;

}
.suscribe-btn{
    position: absolute;
    display: block;
    padding: 16px;
    width: 100px;
    background: #00205d;
    border: none;
    bottom: 2px;
    top: 2px;
    right: 2px;
}
.suscribe-btn i{
    color: #fff;
    font-size: 25px;
}
.client-section{
    display: block;
    padding: 100px 0 80px;
    background: #e9f0fd;
    display: block;
}
.client-area{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
.client-area .item img{
    width: 100%;
    height: auto;
    border: 1px solid #1abc9c;
}

.contact-section{
    background: url(../images/_DSC2045.jpg) #2d3237 no-repeat;
    background-size: 100%;
    background-position: center center;
    padding: 100px 0 80px;
    display: block;
    position: relative;
}
.contact-section:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(45, 50, 55, .55)
}
.contact-section .titie-section{
    display: block;
    margin-bottom: 80px;
}
.contact-section .titie-section h1{
    color: #fff;
}
.contact-section .left-content h1{
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1;
    font-weight: 300;
}
.contact-section .left-content h1 span{
    color: #1abc9c;
}
.contact-section .left-content h3{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.contact-section .left-content p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Roboto';
}
.contact-section .left-content p b{
    color: #00205d;
}
.contact-info{
    display: block;
    margin-top: 10px;
}

.contact-info p{
    margin: 0;
}
.social-media{
    display: block;
    margin-top: 10px;
}
.social-media ul{
    margin: 0;
    padding: 0;
    display: block;
}
.social-media ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.social-media ul li a{
    color: #fff;
}
.social-media ul li a i{
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 7px 0;
}
.social-media ul li a:hover i{
    background: #1abc9c;
    border: 1px solid #1abc9c;
}
.contact-form{
    margin-top: 10px;
    display: block;
}
.contact-form .col-md-6{
    display: block;
    margin-bottom: 30px;
}
.contact-form .input-group{
    width: 100%;
    display: block;
}
.contact-form .input-group input.form-control, .contact-form .input-group textarea.form-control{
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
}
.contact-form .input-group textarea.form-control{
    height: 150px;
}
.contact-form .input-group .form-control:focus, .contact-form .input-group .form-control:hover{
    border: 1px solid #00205d;
    box-shadow: none;
    color: #1abc9c !important;
}
.contact-form .input-group input.contact-submit{
    display: inline-block;
    background: #00205d !important;
    padding: 10px 40px;
    border: none;
    color: #fff !important;
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 1200px){
     .product-hover a {
        padding: 2%;
    }
    a.carousel-control.left, a.carousel-control.right{
        width: 70px;
        height: 70px;
    }
    a.carousel-control.right > span {
        top: -9px;
        left: -19px;
    }
    a.carousel-control.left > span {
        top: -6px;
        left: -11px;
    }
     .carousel-inner .item .carousel-caption h2, .carousel-inner .item .carousel-caption h3{
        font-size: 30px;
    }
    .carousel-inner .item .carousel-caption a{
        padding: 6px 15px;
    }
    .product-hover a:last-child {
        margin: 5px 25%;
        padding: 10px;
    }
}